<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Loc_Post::greetings" title="Post" translate="title" module="Loc_Post"  sortOrder="30" dependsOnModule="Loc_Post" resource="Loc_Post::greetings"/>
        <add id="Loc_Post::greetings_helloworld" title="Manager Posts" translate="title" module="Loc_Post" parent="Loc_Post::greetings" sortOrder="10" dependsOnModule="Loc_Post" action="post/post" resource="MyCompany_ExampleAdminNewPage::greetings"/>
    </menu>
</config>
  